* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(51, 97, 197);
  width: 100vw;
  height: 50px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

}

.search-form{
  display: flex;
  margin: 0 auto;
  padding: 8px;
  max-width: 320px;
  align-items: center;
}

.input {
  width: 200px;
  height: 25px;
  margin-right: 0;
  padding: 5px;
  border-radius: 3px 0px 0px 3px;
  border: 0;
}

.btn-search {
height: 25px;
border: 0;
color: #212121dd;
border-color: inherit;
border-radius: 0px 3px 3px 0px;
}

.btn-search:hover{
  color: black;
  
}

.gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 70px;
}

.photo-card {
flex-wrap: wrap;
flex-direction: column;
max-width: 300px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.info {
display: flex;
align-items: center;
justify-content: center;
}

.info-item {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 10px;
}

.load-more {
  margin: 0 auto;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  background-color: rgb(51, 97, 197);
  color: #fafafa;
  border-radius: 5px;
  border-color: inherit;
  text-transform: uppercase;

}

.load-more:hover,
.load-more:focus {
  color: khaki;
  
}